body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
header {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 gleich breite Spalten */
    gap: 20px;
    margin-top: 10px;
  }
  
  .citycard {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top:20px;
    padding-bottom: 40px;
  }
  .cityimage img{
    width:45%;
    height: auto;
  }
  .cityname p {
    text-align: center;
  }
   .cityimage {
    height: 88%;
    
   }